<%= form_with(model: pepe, local: true) do |form| %>
  <% if pepe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pepe.errors.count, "error") %> prohibited this pepe from being saved:</h2>

      <ul>
      <% pepe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= form.label :Atributo%>
      <%= form.text_area :Atributo %>
    </div>
    <div class="field">
      <%= form.label :Atributro2%>
      <%= form.number_field :Atributro2 %>
    </div>

  <div class="actions">
    <%= link_to 'Volver', :back, class: "btn btn-primary" %>
    <%= form.submit %>
  </div>
<% end %>
